.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

#info {
    color:rgb(187, 187, 187);
    text-align: right;
    height: 200px;
}